


/* Definição de cores do tema */
:root {
  --primary-color: #007bff; /* Azul escuro */
  --success-color: #28a745; /* Verde */
  --secondary-color: #6c757d; /* Cinza */
  --warning-color: #fd7e14; /* Laranja */
}

/* Estilos personalizados para o componente Admin */
.admin-container {
  margin: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Estilos para o formulário */
.admin-container form {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.admin-container form .mb-3 {
  flex-grow: 1;
  margin-bottom: 20px;
}

.admin-container form button {
  align-self: flex-end;
}


.h4{
  text-align: center;
}