ul {
  list-style: none;
}

#titleAPP {
  color: rgb(238, 150, 57);
  border: 1px solid grey;

}

/* index.css */

html, body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  height: 100%;
}

/* Media query para dispositivos móveis */
@media (min-width: 576px) {
  .admin-container {
    margin: 0 auto;
    max-width: 400px;
    padding: 20px;
  }
}
